{% extends "home/base.html" %}
{% load static %}

{% block content %}
<section id="contact" class="container mt-5">
    <h2 class="text-center"><strong>Contact Me</strong></h2>
    <p class="text-center">Feel free to reach out to me via email or connect with me on LinkedIn.</p>

    <div class="contact-info text-center">
        <ul class="list-unstyled">
            <li><a class="btn btn-primary" href="mailto:elafabdualrhman00@gmail.com">Email Me</a></li>
            <li><a class="btn btn-primary" href="https://www.linkedin.com/in/elaf-alshanqiti/" target="_blank">LinkedIn Profile</a></li>
        </ul>
    </div>
</section>
{% endblock %}


