{% extends "home/base.html" %}
{% load static %}

{% block content %}
<section id="home" class="container mt-5">
    <h2><strong>Hi! Welcome to My Portfolio</strong></h2>
    <a class="btn btn-primary" href="https://www.canva.com/design/DAGgeIeZSPY/SC58JM3Hn0Uc08pU63fmlw/edit?utm_content=DAGgeIeZSPY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">View Profile</a>
    <a class="btn btn-primary" href="https://www.linkedin.com/in/elaf-alshanqiti/" target="_blank">LinkedIn Profile</a>
</section>
{% endblock %}
