{% extends "home/base.html" %}

{% block content %}
    <section class="intro">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t js-fullheight">
                        <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                            <!-- Main Heading -->
                            <p><h1>Hello!
                                I'm Elaf Alshanqiti, a Full Stack Developer with a passion for web technologies.</h1>
                            </p>
                                <a class="btn btn-primary btn-lg btn-demo" href="https://www.canva.com/design/DAGgeIeZSPY/SC58JM3Hn0Uc08pU63fmlw/edit?utm_content=DAGgeIeZSPY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">View CV</a>
                                <a class="btn btn-primary btn-lg btn-learn" href="https://www.linkedin.com/in/elaf-alshanqiti/" target="_blank">LinkedIn Profile</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}