
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
    <link rel="stylesheet" href="static\CSS\index.css">
</head>
<body>
    <h1> The Templates </h1>

    <h2> The html </h2>

    <h3> Learning html </h3>
    
    <h4> Introduction to HTML </h4>

    <h5> Basic structure of a web page </h5>

    <h6> Let's start </h6>

    <p><b><strike>The first web page in the project </strike></b> </p>

    <p> <i> <u> The first web page in the project </u> </i> </p>
    <p> <strong> The first web page in the project  <strong></p>
    <p><em> This is emphasized</em> </p> 
    <p> <strong> The first web page in the project  <strong></p>

    <blockquote>"This is a quote from someone famous"</blockquote>
    <a href="https://www.w3schools.com/html/html_links.asp"> visit link </a>
    <br>
    <a href= "https://www.w3schools.com/html/html_images.asp"> href link </a>
    <br>

    <img src="static\image\Riyadh.jpg" alt= "description the image">


    <table> 
        <tr> 
            <th> Name </th>

            <th> ID </th>
            
        </tr>

        <tr>
            <td> Sara </td>

            <td> 1 </td>
    
        </tr>

        <tr>
            <td> Noura </td>

            <td> 2 </td>
    
        </tr>



    </table>

    <form action= "\submit_form" method="post"> 

        Name: <br>
        <input type="text" name "Name" value="Sara"> <br>
        ID: <br>
        <input type name="Id" value="1"> <br>
    </form>


    <div style="color : green"> 
        this is block 
        <span style = "color: blue"> this is span </span>
    </div>

    <div style="color: blue"> 
        <from action="\submit_form" method="post"> 
            name: <br>
            <input type="text" name="Name"> <br>
            ID: <br>
            <input type="number" name="ID"> <br>

            <input type="submit" value="Submit"> <br>
            <button type="submit">Submit</button> <br>
        </form>

    </div>


</body>
</html>
