{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> introduction Page </title>
    
    <link rel="stylesheet" href="{% static 'CSS/introduction.css' %}">

</head>
<body>

    <h2> HTML Mini Project </h2>
    
    <p> <strong> The most popular programming language <strong></p>

    <ol>
        <li>Python</li>
        <li>Java</li>
        <li>JavaScript</li>
        <li>C</li>
        <li>C++</li>
        <li>C#</li>
        <li>PHP</li>
        <li>Swift</li>
    </ol>


    <table> 
        <tr> 
            <th> Programming languages </th>

            <th> Resource </th>
            
        </tr>

        <tr>
            <td> Python </td>

            <td> <a href="https://docs.python.org/3/"> visit link </a> </td>
    
        </tr>
        <tr>
            <td> Jave </td>

            <td> <a href="https://docs.oracle.com/javase/tutorial/"> visit link </a> </td>
    
        </tr>

        <tr>
            <td> JavaScript </td>

            <td> <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"> visit link </a> </td>
    
        </tr>

        <tr>
            <td> C </td>

            <td> <a href="https://www.learn-c.org/"> visit link </a> </td>
    
        </tr>  

        <tr>
            <td> C++ </td>

            <td> <a href="https://www.learncpp.com/"> visit link </a> </td>
    
        </tr>

        <tr>
            <td> C# </td>

            <td> <a href="https://learn.microsoft.com/en-us/dotnet/csharp/"> visit link </a> </td>
    
        </tr>

        <tr>
            <td> PHP </td>

            <td> <a href="https://www.php.net/manual/en/"> visit link </a> </td>
    
        </tr>

        <tr>
            <td> Swift </td>

            <td> <a href="https://developer.apple.com/swift/"> visit link </a> </td>
    
        </tr>



    </table>


</body>
</html>
