body{
  background: linear-gradient(skyblue,rgb(205, 100, 158));
}

div {
    width: 230px;
    padding: 20px;
    border: 5px solid rgb(181, 122, 122);
    margin: 10px;
    
   
}
.postion {
    position: relative;
}
.ol1 {
    color: rgb(246, 255, 0);
    background-color: grey;
    font-family: "Sigmar";
    font-size: 15px;
    font-style: italic;
    font-stretch: extra-condensed;
}
#t1{
    border-style:dashed;
    border-width: 5px;
    border-color: blueviolet;
}