body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    font-size: 1.2em;
    color: red;
}




ol {
    padding-left: 20px;
    color: black;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
    color: black;
}

td {
    color: black;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
