{% load static %}
/<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Website</title>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Website</title>
    
    

   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>🌷 Welcome to My Website!🌷</h1>
    <p>I'm Wijdan, a web developer learning Django and building new projects.</p>

    <h2>📌 What can you find here?</h2>
    <ul>
        <li><a href="/about/">Learn more about me</a></li>
        <li><a href="/contact/">Get in touch</a></li>
        <li><a href="/projects/">Check out my projects</a></li>
    </ul>
  
   <img src="{% static 'css/img/panda.jpg' %}" alt="panda" width="300">

</body>
