{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favourite team</title>
  

</head>
<body>
<main><h1>favourite team</h1>
<p><img src="{%static 'images\barcelona_logo.jpg'%}" ></p>
<p>my favourite team is FC Barcelona 
    Founded: 1899<br>
    Stadium: Spotify Camp Nou<br>
    they are currently number one in LaLiga.</p>
<table>
    <thead>
        <tr>
            <th>2024-2025</th>
            <th>GP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>P </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.<img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/83.png&h=40&w=40">Barcelona</td>     
            <td>25</td>        
            <td>17</td>   
            <td>3</td>        
            <td>5</td>        
            <td>54</td>        
     
   
        </tr>
        <tr>
            <td>2.<img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/86.png&h=40&w=40" >
                Real Madrid</td>     
            <td>25</td>        
            <td>16</td>   
            <td>6</td>        
            <td>3</td>        
            <td>54</td>        
     
   
        </tr>
        <tr>
            <td>3.<img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/1068.png&h=40&w=40" >Atlético Madrid</td>     
            <td>25</td>        
            <td>15</td>   
            <td>8</td>        
            <td>2</td>        
            <td>53</td>        
     
   
        </tr>
    </tbody>
</table>
<p> top 3 scorer in Barcelona
    <ol>
        <li><img src="https://images.fotmob.com/image_resources/playerimages/93447.png">Robert Lewandowski 20</li>
        <li><img src="https://images.fotmob.com/image_resources/playerimages/696679.png">Raphinha 13</li>
        <li><img src="https://images.fotmob.com/image_resources/playerimages/614834.png" >Dani Olmo 6</li>
    </ol>
</p>
<p>my favourite players without order
    <ul>
        <li><img src="https://images.fotmob.com/image_resources/playerimages/1083323.png" >Pedri</li>
        <li><img src="https://images.fotmob.com/image_resources/playerimages/696679.png">Raphinha</li>
        <li><img src="https://images.fotmob.com/image_resources/playerimages/1467236.png" >Lamine Yamal</li>
    </ul>


</p>
</main>
</body>
</html>