{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/themestore.css' %}"/>

</head>
<body>
    <nav class="navbar">
    <div class="navname">
    <a>theme store</a>
</div>
    <div class="navbutton">
    <a href="">home</a>
    <a href="">about</a>
    <a href="">service</a>
    <a href="">praicing</a>
    <a href="">how it works</a>
    <a href="">contract</a>
    <button>try for free</button>
</div>
    </nav>
<main>
    <section class="header">
        <div class="head">
        <h2>best themes for your smartphone</h2>
        <div class="btn">
            <button>getstarted</button>
            <button>how to setup</button>
        </div>
    </div>
       
    <div class="howitworks">
    <a>how it works</a>
    </div>
    </section>
<section class="below">
    <div class="left">
        <h3>1000+ theames and wallpers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolor officia saepe expedita totam magnam ipsum harum animi veritatis nihil distinctio quia dolorum repellat libero qui, magni facere deserunt incidunt.</p>
        <button>Read more</button>
    </div>

        <div class="right">
            <img class="imgright" src="../../static/images/phone-1024.png" alt="">
        </div>
    
    
    
    
</section>
</main>
</body>
</html>