<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=keyboard_double_arrow_down"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_upward"
    />
    <link rel="stylesheet" href="/static/css/cv.css" />
    <title>CV</title>
  </head>
  <body>
    <div class="landing">
      <header id="head">
        <div class="container">
          <nav>
            <div class="name">Freelancer</div>
            <div class="links">
              <a href="#experience">Experience</a>
              <a href="#education">Education</a>
              <a href="#technical-skills">Skills</a>
              <a href="#project">Project</a>
              <a href="#courses">Courses</a>
              <a href="#contact-me">Contact</a>
            </div>
          </nav>
        </div>
      </header>
      <div class="info">
        <h3>Hello I'm</h3>
        <h1>Nawaf Alahmadi</h1>
        <h4>Full-Stack Developer</h4>
        <p>
          I specialize in building dynamic, responsive, and efficient web
          applications. Passionate about writing clean, maintainable code, I
          create seamless user experiences and scalable backend solutions.
          Constantly learning and adapting, I strive to deliver high-quality
          software that meets modern development standards.
        </p>
      </div>
      <a href="#experience" class="to-bottom">
        <span class="material-symbols-outlined">
          keyboard_double_arrow_down
        </span>
      </a>
    </div>
    <main>
      <section class="experience" id="experience">
        <h2 class="main-title">Experience</h2>
        <div class="container">
          <div class="experience-info">
            <div class="date-name">
              <span class="date">February 2025 – Present </span>
              <span class="name">Intern</span>
            </div>
            <div class="company">
              <span class="company-name"
                >Tuwaiq - Web Development Using Python</span
              >
              <p class="company-description">None</p>
            </div>
          </div>
          <div class="experience-info">
            <div class="date-name">
              <span class="date">June 2024 – August 2024 </span>
              <span class="name">Intern</span>
            </div>
            <div class="company">
              <span class="company-name"
                >University of Jeddah - E-Learning Department
              </span>
              <p class="company-description">
                Managed the Blackboard system, monitored educational processes,
                generated reports on student and faculty performance, provided
                technical support for devices and applications, and performed
                routine maintenance and system updates.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="education" id="education">
        <h2 class="main-title">Education</h2>
        <div class="container">
          <div class="education-info">
            <div class="date-name">
              <span class="date">December 2024</span>
              <span class="name">Bachelor's degree</span>
            </div>
            <div class="school">
              <span class="school-name">University of Jeddah</span>
              <p class="school-degree">GPA: 4.64/5</p>
            </div>
          </div>
        </div>
      </section>
      <section class="skills-sec technical-skills" id="technical-skills">
        <h2 class="main-title">Technical Skills</h2>
        <div class="container">
          <div class="skills">
            <div class="box">
              <img alt="Not Found" src="/static/images/html-5.png" />
              <div class="skill">HTML</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/css-3.png" />
              <div class="skill">CSS</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/responsive-design.png" />
              <div class="skill">Responsive Web Design</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/github.png" />
              <div class="skill">GitHub</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/git.png" />
              <div class="skill">Git</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/smart.png" />
              <div class="skill">Computer Proficiency</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/cpt.png" />
              <div class="skill">Cisco Packet Tracer</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/terminal.png" />
              <div class="skill">Command Line (CMD, Cmder)</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/java.png" />
              <div class="skill">Java</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/office.png" />
              <div class="skill">Microsoft Office</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/database.png" />
              <div class="skill">Database Management</div>
            </div>
          </div>
        </div>
      </section>
      <section class="skills-sec soft-skills">
        <h2 class="main-title">Soft Skills</h2>
        <div class="container">
          <div class="skills">
            <div class="box">
              <img
                alt="Not Found"
                src="/static/images/attention-to-detail.png"
              />
              <div class="skill">Attention to Detail</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/idea.png" />
              <div class="skill">Problem Solving</div>
            </div>
            <div class="box">
              <img
                alt="Not Found"
                src="/static/images/continuous-learning.png"
              />
              <div class="skill">Continuous Learning</div>
            </div>
            <div class="box">
              <img alt="Not Found" src="/static/images/effective.png" />
              <div class="skill">Effective communication</div>
            </div>
          </div>
        </div>
      </section>
      <section class="achievements-sec">
        <h2 class="main-title">Achievements</h2>
        <div class="container">
          <div class="achievements">
            <div class="achievement">
              Received the Academic Excellence Award | 2024
            </div>
            <div class="achievement">
              Earned three Certificates of Excellence
            </div>
            <div class="achievement">
              Developed four responsive websites using HTML and CSS.
            </div>
            <div class="achievement">
              Executed small networking projects using Cisco Packet Tracer.
            </div>
          </div>
        </div>
      </section>
      <section class="projects-sec" id="project">
        <h2 class="main-title">Project</h2>
        <div class="container">
          <div class="projects">
            <div class="project">
              <img src="/static/images/image.png" alt="Not Found" />
              <div class="info">
                <h3>Leon Website</h3>
                <a href="https://nawaf-alahmadi.github.io/HTML_CSS_Leon/"
                  >Visit Leon Website</a
                >
              </div>
            </div>
            <div class="project">
              <img src="/static/images/image.png" alt="Not Found" />
              <div class="info">
                <h3>Kasper</h3>
                <a href="https://nawaf-alahmadi.github.io/HTML_CSS_Template2/"
                  >Visit Kasper Website</a
                >
              </div>
            </div>
            <div class="project">
              <img src="/static/images/image.png" alt="Not Found" />
              <div class="info">
                <h3>Elzero</h3>
                <a href="https://nawaf-alahmadi.github.io/HTML_CSS_template3/"
                  >Visit Elzero Website</a
                >
              </div>
            </div>
            <div class="project">
              <img src="/static/images/image.png" alt="Not Found" />
              <div class="info">
                <h3>Dashboard</h3>
                <a href="https://nawaf-alahmadi.github.io/Template_4/index.html"
                  >Visit Dashboard Website</a
                >
              </div>
            </div>
            <div class="project">
              <img src="/static/images/python.png" alt="Not Found" />
              <div class="info">
                <h3>Youtube Downloader</h3>
                <a href="https://github.com/Nawaf-Alahmadi/UNIT-PROJECT-1"
                  >Youtube Downloader</a
                >
              </div>
            </div>
          </div>
          <div class="visi-me">
            <a href="https://github.com/Nawaf-Alahmadi"
              >For More Projects Click Here</a
            >
          </div>
        </div>
      </section>
      <section class="courses-sec" id="courses">
        <h2 class="main-title">Courses</h2>
        <div class="container">
          <div class="courses">
            <div class="course">
              <h3>Introduction to Networking and Storage</h3>
              <div class="by">IBM</div>
              <div class="date">May 2023</div>
              <a
                href="https://www.coursera.org/account/accomplishments/verify/JNYPG8VP9RF4"
                ><img src="/static/images/link.png" alt="Not Found"
              /></a>
            </div>
            <div class="course">
              <h3>Database Management Essentials</h3>
              <div class="by">University of Colorado</div>
              <div class="date">January 2023</div>
              <a
                href="https://www.coursera.org/account/accomplishments/verify/7JATP77RL9RX"
                ><img src="/static/images/link.png" alt="Not Found"
              /></a>
            </div>
            <div class="course">
              <h3>Data Structures</h3>
              <div class="by">University of California, San Diego</div>
              <div class="date">October 2022</div>
              <a
                href="https://www.coursera.org/account/accomplishments/verify/ZNH3ADNJLV32"
                ><img src="/static/images/link.png" alt="Not Found"
              /></a>
            </div>
            <div class="course">
              <h3>Object-Oriented Programming Concepts</h3>
              <div class="by">University of California, San Diego</div>
              <div class="date">March 2022</div>
              <a
                href="https://www.coursera.org/account/accomplishments/verify/XFQT7MNKZPA2"
                ><img src="/static/images/link.png" alt="Not Found"
              /></a>
            </div>
            <div class="course">
              <h3>Computer Hardware and Software</h3>
              <div class="by">University of California, Irvine</div>
              <div class="date">March 2022</div>
              <a
                href="https://www.coursera.org/account/accomplishments/verify/KNKVDFTV4NMW"
                ><img src="/static/images/link.png" alt="Not Found"
              /></a>
            </div>
          </div>
        </div>
      </section>
      <section class="contact-sec" id="contact-me">
        <h2 class="main-title">contact me</h2>
        <div class="container">
          <div class="contacts">
            <div class="contact">
              <a href="mailto:Nawaf.m.alahmadi@gmail.com">
                <img src="/static/images/gmail.png" alt="Not Found" />
              </a>
              <div class="email">Nawaf.m.alahmadi@gmail.com</div>
            </div>
            <div class="contact">
              <a href="https://github.com/Nawaf-Alahmadi">
                <img src="/static/images/github.png" alt="Not Found" />
              </a>
              <div class="email">https://github.com/Nawaf-Alahmadi</div>
            </div>
            <div class="contact">
              <a href="https://www.linkedin.com/in/nawaf-m-alahmadi/">
                <img src="/static/images/linkedin.png" alt="Not Found" />
              </a>
              <div class="email">
                https://www.linkedin.com/in/nawaf-m-alahmadi/
              </div>
            </div>
            <div class="contact">
              <a href="tel:+966532053655">
                <img src="/static/images/call.png" alt="Not Found" />
              </a>
              <div class="email">966532053655</div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Made With Love By Nawaf</p>
    </footer>
  </body>
</html>
