*{
    padding: center ;
    margin: 10px ;
    font-style: italic;
}


.intro{
    font-size: 50px; 
    position: absolute;
    top: 20px; 
    left: 20px;
    font-style: italic;
}

.logo{
    padding-left: 950px;
    
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    padding-left: 100px;
}

a {
    color: black;
    text-decoration: none;
}

.button{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

