{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'css/styling.css' %}>
    <title>Introduction to CSS</title>
</head>
<body>
<h1>Hello there</h1>
<h2>We well take a short trip togather to get to know a little more about FCBarcelona </h2>
<h3>the club values are</h3>
<h4>Respect, effort, ambition, teamwork and humility are the five principal values that define the spirit of FC
    Barcelona</h4>
<h5><i>RESPECT</i></h5>
<p>
   Respect for others is one of the basic requirements of democratic life and the capacity to live in society.
    It affects the individual and has both a social and a collective dimension. Respect is a fundamental part of sport,
    for sport generates situations of tension that have to be resolved almost instantaneously. There is therefore a
    need, above rules and standards, for this value to be present in order to guarantee cordial and correct
    interrelations between people. In sport, respect is needed in similar situations to those where it is demanded
    in wider society, but the intensity of the moment implies that the presence or absence of respect can be very
    obvious and can affect the development of the situation or event.
</p>

<h5><i>EFFORT</i></h5>
<p>
    There are many social models that avoid effort and advocate instead luck, opportunism and immediate triumph.
    However, effort is a value that can take us to unthinkable heights and lead us to achieve targets and objectives
    that may at other times appear distant or inaccessible. Dedication, rigour, constancy, sacrifice and perseverance
    all bear fruit, while luck and the search for a quick win are often fleeting and momentary. Note that at school,
    teachers have for a long time being promoting a culture of effort as the vehicle for academic development and
    personal achievement, and this helps to construct new social models.
</p>
<h5><i>AMBITION</i></h5>
<p>Ambition is the desire to achieve the maximum performance and do things not only well but also as well as is
    feasibly possible and to improve every day. This value is applicable both to individuals and to groups. It
    involves use of a web of values as varied as excellence, patience, discipline, order, motivation and responsibility.
    Indeed, ambition invokes and requires a broad system of values and, in turn, is related with a job being done well,
    effort and rigour. Regarding targets, ambition is probably the surest way of achieving them, for it is the impulse
    to grow.</p>
<h5><i>TEAMWORK</i></h5>
<p>
    Teamwork implies that the subject forms part of a group and that, as a member of the same, becomes an active
    element that acts on behalf of the whole (sometimes even to determine of their own individuality). There are
    undeniable benefits of knowing that you are part of a team and this requires the learning and accentuation of many
    other values.
</p>
<h5><i>HUMILITY</i></h5>
<p>Often when athletes, and people in general, achieve the goals they have set themselves, they start feeling superior
    in physical, moral, economic and other terms, and this leads them to forget certain values that have in all
    probability helped them to achieve those very goals: effort, perseverance, self-control, etc. We are all aware
    of how FC Barcelona has dealt with its victories of recent years, and how it has always shown humility (and also
    such values as effort, rigour, responsibility and others) to win respect in its field, and among its opponents, and
    generally everyone. Humility probably consists of knowing how to be clear about one’s values, and to maintain them
    and defend them even in situations where you are clearly superior and more successful.</p>

<h6><b>For more information about the club please feel free to visit the Official Barcelona Club Website from the link
    below</b></h6>
<h3><a href="https://www.fcbarcelona.com/en/">Official Barcelona Website </a></h3>
<br/>
<img src="{% static 'images/Escuts_evo_verificats_web.webp' %}">


<ul>
    <li>
        <h3>Goalkeepers</h3>
        <table>
            <tr>
                <th>name</th>
                <th>Kit number</th>
                <th>Date joined</th>
            </tr>
            <tr>
                <td>Marc-André Ter Stegen</td>
                <td>#1</td>
                <td>Sep, 2014</td>
            </tr>
            <tr>
                <td>Iñaki Peña</td>
                <td>#13</td>
                <td>Jan, 2023</td>
            </tr>
            <tr>
                <td>Wojciech Szczęsny</td>
                <td>#25</td>
                <td>June, 2024</td>
            </tr>
        </table>
    </li>
    <li>
        <h3>Defender</h3>
        <table>
            <tr>
                <th>name</th>
                <th>Kit number</th>
                <th>Date joined</th>
            </tr>
            <tr>
                <th>Pau Cubarsí</th>
                <th> #2</th>
                <th>Jan, 2024</th>
            </tr>
            <tr>
                <th>Alejandro Balde</th>
                <th> #3</th>
                <th>Sept, 2021</th>
            </tr>
            <tr>
                <th>Ronald Araujo</th>
                <th> #4</th>
                <th>Oct, 2019</th>
            </tr>
            <tr>
                <th>Iñigo Martinez</th>
                <th> #5</th>
                <th>Aug, 2011</th>
            </tr>
            <tr>
                <th>Andreas Christensen</th>
                <th> #15</th>
                <th>Jan, 2023</th>
            </tr>
            <tr>
                <th>Jules Kounde</th>
                <th> #23 </th>
                <th>Jan, 2023</th>
            </tr>
            <tr>
                <th>Eric Garcia</th>
                <th> #24</th>
                <th>Aug, 2021</th>
            </tr>
        </table>
    </li>
    <li>
        <h3>Midfielders</h3>
        <table>
            <tr>
                <th>name</th>
                <th>Kit number</th>
                <th>Date joined</th>
            </tr>
            <tr>
                <th>Gavi</th>
                <th> #6 </th>
                <th>Aug, 2021</th>
            </tr>
            <tr>
                <th>Paderi</th>
                <th> #8</th>
                <th>Sept, 2020</th>
            </tr>
            <tr>
                <th>Pablo Torre</th>
                <th> #14</th>
                <th>March, 2022</th>
            </tr>
            <tr>
                <th>Fermín López</th>
                <th> #16 </th>
                <th>2023/24 season</th>
            </tr>
            <tr>
                <th>Marc Casadó</th>
                <th> #17</th>
                <th>2022/23 season</th>
            </tr>
            <tr>
                <th>Dani Olmo</th>
                <th> #20  </th>
                <th>summer of 2024</th>
            </tr>
            <tr>
                <th>Frenkie De Jong</th>
                <th> #21</th>
                <th>Aug, 2019</th>
            </tr>
        </table>
    </li>
    <li>
        <h3>Forwards</h3>
        <table>
            <tr>
                <th>name</th>
                <th>Kit number</th>
                <th>Date joined</th>
            </tr>
            <tr>
                <th>Ferran Torres</th>
                <th> #7 </th>
                <th>Jan, 2021</th>
            </tr>
            <tr>
                <th>Robert Lewandowski</th>
                <th> #9</th>
                <th>2021/22 season</th>
            </tr>
            <tr>
                <th>Ansu Fati</th>
                <th> #10</th>
                <th>Aug, 2019</th>
            </tr>
            <tr>
                <th>Raphinha</th>
                <th> #11 </th>
                <th>July 2022</th>
            </tr>
            <tr>
                <th>Pau Víctor</th>
                <th> #18</th>
                <th>summer of 2024</th>
            </tr>
            <tr>
                <th>Lamine Yamal</th>
                <th> #19  </th>
                <th>summer of 2024</th>
            </tr>
        </table>
    </li>


    <li><h3>Coaching Staff</h3></li>
</ul>
<ol>
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Date Joined</th>
        </tr>
        <tr>
            <td><li>Hansi Flick</li></td>
            <td>Coach</td>
            <td>September 2023</td>
        </tr>
        <tr>
            <td><li>Marcus Sorg</li></td>
            <td>Assistant coach</td>
            <td>September 2023</td>
        </tr>
        <tr>
            <td><li>Toni Tapalovic</li></td>
            <td>Assistant coach</td>
            <td>September 2023</td>
        </tr>
        <tr>
            <td><li>Heiko Westermann</li></td>
            <td>Assistant coach</td>
            <td>September 2023</td>
        </tr>
        <tr>
            <td><li>José Ramon De La Fuente</li></td>
            <td>Goalkeeping coach</td>
            <td>September 2023</td>
        </tr>
        <tr>
            <td><li>Julio Tous</li></td>
            <td>Head of fitness training</td>
            <td>September 2023</td>
        </tr>
        <tr>
            <td><li>Pepe Conde</li></td>
            <td>Field fitness coach</td>
            <td>September 2023</td>
        </tr>
        <tr>
            <td><li>Rafa Maldonado</li></td>
            <td>Field fitness coach</td>
            <td>September 2023</td>
        </tr>
        <tr>
            <td><li>Germán Fernández</li></td>
            <td>Gym and strength fitness coach</td>
            <td>September 2023</td>
        </tr>
    </table>

</ol>
<form>

    <label for="fname">First Name:   </label>
    <input type="text" id="fname" name="fname" value="First Name">

    <label for="lname">Last Name:   </label>
    <input type="text" id="lname" name="lname" value="Last Name"><br/><br/>
    <textarea name="message" rows="10" cols="30"></textarea>
    <button>Submit</button>
</form>

</body>
</html>