{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raghad CV</title>
    <link href="/static/css/style2.css" rel="stylesheet" />
</head>
<body> 
    <nav>
        <div class="nav-container">
            <div class="logo">Welcom to my web page</div>
        </div>
    </nav>

    <section class="main-container">
        <div class="image">
            <img src="/static/img/main.jpg" alt="">
        </div>
        <div class="content">
            <h1>Hey, I'm <span>Raghad</span></h1>
            <p class="typewriter">I'm a Web Developer</p>
            <p>Full-Stack Developer using HTML, CSS, and JavaScript to create modern web solutions.</p>
            <div class="btn">
                <a href="/static/Raghad_CV.pdf" download="Raghad_CV.pdf">
                    <button>Download CV</button>
                </a>
            </div>
        </div>
    </section>
</body>
</html>