{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" />
    <title>MY ANIME</title>
</head>
<body>

    <header>
        <h2>KIMETSU NO YAIBA</h2>
    </header>
    
    <div class="container">
        <div class="box">
            <strong>SUMMARY</strong>
            <p>A family is attacked by demons and only two members survive - Tanjiro and his sister Nezuko, who is turning into a demon slowly.
                Tanjiro sets out to become a demon slayer to avenge his family and cure his sister.</p>

            <strong class="S">WHY YOU SHOULD WATCH IT</strong>
            <div class="reasons">
                <ul>
                    <li>Stunning Animation and Art Style</li>
                    <li>Engaging Story and Character Development</li>
                    <li>Intense Action and Unique Fighting Techniques</li>
                </ul>
                

            </div>
            
            <a href="https://www.crunchyroll.com/ar/series/GY5P48XEY/demon-slayer-kimetsu-no-yaiba" target="_blank">Click to Watch</a>
        </div>

        <img src="{% static 'img/first.jpg' %}" alt="Demon Slayer" class="img">
    </div>
</body>
</html>