{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PAGE</title>
</head>
<body>
    
    <h2>Title: demon slaye</h2>
    <p>This anime is my favorite for several reasons, including its captivating story, deep characters, and stunning animation. It takes me on an unforgettable journey.</p>
    
    <img src="{% static 'img/first.jpg' %}" alt="eroor" width="300" height="400" > <p></p>
    <strong> Summaries</strong> <p></p>

    <p>A family is attacked by demons and only two members survive - Tanjiro and his sister Nezuko, who is turning into a demon slowly.
         Tanjiro sets out to become a demon slayer to avenge his family and cure his sister.</p>

    <p>three reasons <strong>WHY YOU SHOULD WHATCH IT</strong></p>
    <ul>
        <li>Stunning Animation and Art Style</li>
        <li>Engaging Story and Character Development</li>
        <li>Intense Action and Unique Fighting Techniques</li>
    </ul>

    <a href="https://www.crunchyroll.com/ar/series/GY5P48XEY/demon-slayer-kimetsu-no-yaiba" target="_blank">START WHATCH IT</a>

</body>
</html>