{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warm Place</title>
    <link rel="stylesheet" href="/static/css/style3.css">
</head>
<body>
    <div class="container">
        <img src="/static/img/logo.jpg" alt="Warm Place Logo" class="logo">
        <h1>Welcome to <span class="highlight">warm place</span></h1>
        <a href="menu.html" class="btn">Continue as a Guest</a>
    </div>
</body>
</html>
