<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Home</title>
</head>
<body>
        <h1>Django lab template html-css </h1>
        <hr>
        <div>
        <p>pages are</p>
        <ul>
            <li><a href="{% url 'lab1_view' %}"> Lab1:HTML </a></li>
            <li><a href="{%url 'lab2_view'%}">lab2:CSS</a></li>
            <li><a href="{%url 'ai_view' %}">lab3:AI </a></li>
            <li><a href="{%url 'cv_view'%} ">lab4:CV</a></li>
        </ul>
    </div>
</body>
</html>