{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
    <title>first page in HTML</title>
</head>
<body>
    <h1>This is My first page</h1>
    <hr>
    <p>Fivorate Hoppies</p>
    <ul class="ul1">
        <li>Football</li>
        <li>Swimming </li>
        <li>playing baloot</li>
    </ul>
    <p>Fivorate teams in football</p>
    <ol class="ol1">
        <li>Al-hilal</li>
        <li>Real Madrid </li>
        <li>chealse</li>
    </ol>
    <hr>
    <p>Fivorate team </p>
    <img src="\static\images\real_madrid.png" width="250" height="200" alt="ERROR" class="postion">
    <hr>
    <div>
        <p>Best players are: </p>
        <table title="table" id="t1">
            <tr>
                <td>fist name</td>
                <td>last name</td>
                <td>age</td>
            </tr>
            <tr>
                <td>Kylian</td>
                <td>Mbappé</td>
                <td>26</td>
            </tr>
            <tr>
                <td>Vinicius</td>
                <td>Junior</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Jude</td>
                <td>Bellingham</td>
                <td>21</td>
            </tr>
        </table>
    </div>
    <hr>

    <div>
        <h1>contect Me</h1>
        <form>
            name: <input type="text" name="name">
            email: <input type="email" name="email"><br>
            Message:<br>
            <textarea name="message" rows="4" cols="30"></textarea><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>