<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" />
    <title>Board Store.</title>
</head>
<body>
    <div class="wrapper">

        <nav>
            <strong class="logo"> BOARD STORE</strong>

            <div class="right-nav">
                <a href="">HOME</a>
                <a href="">ABOUT</a>
                <a href="">SERVICES</a>
                <a href="">HOW IT WORKS</a>
                <a href="">CONTACT</a>
                <button class="btn">See More</button>
            </div>
        </nav>
        


    </div>
</body>
</html>