{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV- Areej Abdulkarim Al-Mutairi</title>
    <link href="{% static 'css/style_cv.css' %}" rel="stylesheet">
</head>
<body>
    
    <header class="header">
        <div class="container">
            <div class="profile">

                <img src="{% static 'img/placeholder.jpg' %}" alt="Profile Picture" class="profile-img">
                <div class="contact-info">
                    <h1>Areej Abdulkarim Al-Mutairi</h1>
                    <p>Phone: 0503717600</p>
                    <p>Email: areej.a7676@gmail.com</p>
                </div>
            </div>
            <div class="objective">
                <h2>Career Objective</h2>
                <p>I aim to leverage my technical expertise and practical skills in a stimulating work environment where I can apply my knowledge in software development and UI design to achieve excellent results and contribute to project success.</p>
            </div>
        </div>
    </header>

    <main class="container">

        <section class="section">
            <h2>Education</h2>
            <div class="section-content">
                <p><strong>Degree:</strong> Bachelor of Computer Science</p>
                <p><strong>University:</strong> Imam Muhammad ibn Saud Islamic University</p>
            </div>
        </section>

        <section class="section">
            <h2>Experience</h2>
            <div class="section-content">
                <p><strong>Past Internship:</strong> King Fahd Medical City</p>
                <p><strong>Current Internship:</strong> Tuwaiq Academy</p>
            </div>
        </section>


        <section class="section">
            <h2>Projects</h2>
            <div class="section-content">
                <ul>
                    <li>Developed a <strong>Fitness</strong> application</li>
                    <li>Developed a <strong>Your Supplies Are Our Supplies</strong> application</li>
                    <li>Built the <strong>Areej Beauty</strong> store using Python and CLI</li>
                </ul>
            </div>
        </section>


        <section class="section">
            <h2>Skills</h2>
            <div class="section-content">
                <h3>Technical Skills</h3>
                <ul>
                    <li>Developing applications using <strong>Android Studio</strong></li>
                    <li>Designing user interfaces (UI) with XML</li>
                    <li>Basic knowledge of database management using SQL</li>
                    <li>Proficient in <strong>Python</strong> and <strong>Java</strong></li>
                    <li>Experience in designing interfaces with HTML and CSS</li>
                    <li>Understanding of security concepts and data protection</li>
                </ul>
                <h3>Soft Skills</h3>
                <ul>
                    <li>Teamwork</li>
                    <li>Problem-solving</li>
                    <li>Effective Communication</li>
                </ul>
            </div>
        </section>

        
        <section class="section">
            <h2>Awards & Recognitions</h2>
            <div class="section-content">
                <p>Received a recommendation from King Fahd Medical City</p>
                <div class="image-container">
                    <img src="{% static 'img/recommendation.png' %}" alt="King Fahd Medical City Recommendation">
                </div>
            </div>
        </section>

        <section class="section">
            <h2>Certifications & Courses</h2>
            <div class="section-content">
                <p><strong>Course:</strong> Cyber Security Basics from Cisco Academies</p>
                <p><strong>Course:</strong> Python Basics from Satr Platform</p>
                <div class="image-container">
                    <img src="{% static 'img/cart_satr.jpg' %}" alt="Satr Platform Certificate">
                </div>
            </div>
        </section>

    
        <section class="section">
            <h2>Languages</h2>
            <div class="section-content">
                <p><strong>English:</strong> Intermediate proficiency</p>
            </div>
        </section>

        <section class="section">
            <h2>Hobbies & Interests</h2>
            <div class="section-content">
                <p>Horse Riding, Reading Novels, Exercising, Cooking</p>
            </div>
        </section>
    </main>

    
    <footer class="footer">
        <p>&copy; 2025 Areej Abdulkarim Al-Mutairi. All rights reserved.</p>
    </footer>
</body>
</html>