{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ali Alnemary - CV</title>
    <link rel="stylesheet" href="{% static 'css/cv.css' %}">
</head>
<body>

    <header>
        <h1>Ali Alnemary</h1>
    </header>

    <nav class="sticky-nav">
        <ul>
            <li><a href="#about">About Me</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#certifications">Certifications</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact</a></li>
            
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-text">
            <h2>Welcome to My CV</h2>
            <br>
            <a href="#contact" class="btn">Contact Me</a>
        </div>
    </section>

    <section id="about" class="content-section">
        <h2>Career Objective</h2>
        <p> Looking at opportunities which enable me to build my career and develop myself by finding interesting positions 
            which allow me to utilize my knowledge, skills and abilities also learn from the experiences of other, meet new 
            challenges, and create opportunities to growth in my career path.</p>
    </section>

    <section id="education" class="content-section">
        <h2>Education</h2>
        <p><strong>University of Jeddah</strong></p>
        <p>Bachelor of Science in Information Technology (2020 - 2024)</p>
        <p>GPA: 4.23 / 5</p>
        <p>Participated in the Sixth Scientific Forum, presenting a graduation project 
            titled "Campus Club," which focused on streamlining campus club 
            management and enhancing student engagement through a centralized 
            platform</p>
    </section>

    <section id="experience" class="content-section">
        <h2>Experience</h2>
        <p><strong>IT Summer Intern</strong></p>
        <p>E-Learning Department, University of Jeddah (June 2024 - August 2024)</p>
        <ul>
            <li>Managed the Blackboard system to ensure smooth and secure operation. </li>
            <li>Created reports on system usage and course performance to support decision-making. </li>
            <li>Assisted faculty in building courses, uploading content, and following academic guidelines.</li>
            <li>Reinstalled operating systems and performed device maintenance, enhancing technical skills.</li>
            <li>Provided technical support to faculty and students, troubleshooting system-related issues.</li>
            
        </ul>
    </section>

    <section id="certifications" class="content-section">
        <h2>Certifications</h2>
        <ul>
            <li>Data Structures, Coursera, University of California San Diego - Nov 2022</li>
            <li>Database Management Essentials, Coursera, University of Colorado System - Jan 2023 </li>
            <li>Project Management Principles and Practices, Coursera, University of California, Irvine - May 2023</li>
            <li>Software Development Processes and Methodologies, Coursera, University of Minnesota - Jan 2023 </li>
        </ul>
    </section>

    <section id="skills" class="content-section">
        <h2>Skills</h2>
        <ul>
            <li><strong>Technical Skills:</strong> CSS, HTML, Java, Python, SQL, Data Analysis, UI Design, Microsoft Office, Data Visualization and Reporting</li>
            <li><strong>Soft Skills:</strong> Problem-solving, Communication, Teamwork, Adaptability and continuous learning</li>
            <li><strong>Languages:</strong> Arabic & English</li>
        </ul>
    </section>

    <section id="contact">
        <h2>Contact Me</h2>
        <p>Let's connect! Feel free to reach out for collaborations or opportunities.</p>
        <p><strong>Phone:</strong> <a href="tel:+966551804835">+966551804835</a></p>
        <p><strong>Email:</strong> <a href="mailto:alialnemary-23@hotmail.com">alialnemary-23@hotmail.com</a></p>
        <p><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/ali-alnemary-3902a1258" target="_blank">Ali Alnemary</a></p>
        <a href="mailto:alialnemary-23@hotmail.com" class="btn">Send Email</a>
    </section>

    <footer>
        <p>Made With ❤️</p>
        <p>&copy; 2025 Ali Alnemary | All Rights Reserved</p>
    </footer>

</body>
</html>
