<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example of CSS</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- link file CSS -->
</head>
<body>

<header>
    <h1>Wellcom to CSS!</h1>
</header> 
<section>
    <p>Cascading Style Sheets (CSS) is a style sheet language used for specifying 
        the presentation and styling of a document written in a markup language such as HTML or XML</p>

    <p class="special-text"> There are three ways of inserting a style sheet:<code>class</code>.</p>

</section>

    <div id="main-box">
        <p>Internal and Inline <code>css</code>External <code>css</code>.</p>
    </div>
    <div class="box">
        <p>Positioning Example: static, relative, absolute, fixed</p>
    </div>
    <div class="container"><p>Flexbox Basics properties :</p></div>
        <div class="item"><p> display flex 1</p></div>
        <div class="item"><p> justify-content 2</p></div>
        <div class="item"><p> align-items 3</p></div>
    </div>
    
</body>
</html>

  