<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <link rel="stylesheet" href="/static/css/stylecv.css">
</head>
<body>
    <header>
        
        <h1>EMAN HASSAN RAJHI</h1>
        <p>Lecture |Computer Trainer |Full Stack Developer |Graphic Designer |Scientific researcher and Publisher</p>
    </header>
    
   
    
    <section class="education">
        <h2>Education</h2>
        <p><strong>Master Degree in Information Technology </strong> - Jeddah  University (2022)</p>

        <p><strong>Bacholer Degree in Computer Science</strong> - Taibah  University (2006)</p>
    </section>
    
    <section class="experience">
        <h2>Professional Experience</h2>
        <p><strong>Computer trainer</strong> - Badr Al Madina Training Institute (2006-2007)</p>
        <p><strong>Computer trainer</strong> - Altamayuz Aldaayim Institute (2007-2008)</p>
        <p><strong>Computer trainer</strong> - Al-Sharq National Institutes and Schools (2017-2018)</p>
        <p><strong>lecturer</strong> - Hafar Al-batin University (2024)</p>
        <p><strong>(website development camp using Python):Full-stack developers</strong> - Tuwaiq Academy (2025)</p>

    </section>
    
    <section class="Training Courses">
        <h2> Training Courses </h2>
        <ul>
            <li>Diploma Graphics 2007</li>
            <li>Use of e-government services 2007</li>
            <li>Remote programming using Java Script,Python,Make Code,Saudi ambassadors are programmed 2018</li>
            <li>Introduction to Project Management (PMP)2020</li>
            <li> Cybersecurity and information privacy 2022</li> 
            <li> Functional efficiency 2022 </li> 
        </ul>
    </section>

    <section class="projects">
        <h2>Notable Projects</h2>
        <p><strong>Graduate project</strong> - Saudi Arabian Airlines website development and design project </p>
        <p><strong>E-commerce</strong> - Decision support system to secure mobile payment systems on movies in cinema by machine learning</p>
             <p><strong>Strategic Information System</strong> - Strategic Planning for E-learning department  in institute </p>
             <p><strong>Web Services & ETL </strong> - Web-based services of ticket reservation system in Cinema</p>
             <p><strong> Scientific publishing</strong>- Publisher of the scientific paper (The Role of Project Management Stages)
    </section>
    
    <section class="skills">
        <h2>Skills</h2>
        <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>React, Vue.js</li>
            <li>Responsive Web Design</li>
            <li> Content creation</li>
              <li>Interaction on social networks</li>  
               <li>Public relations</li> 
              <li>  Website management and design</li>
              <li> Digital analysis tools</li>
              <li> Graphic Design</li>
              <li> Strong communication skills</li>
               <li> Dealing with computer applications</li>
               <li> Implementing and designing the business</li>
              <li> strategy plan for the IT department</li>
               <li> ERP design</li>
              <li> Research</li>

        </ul>
    </section>
    
    <section class="awards">
        <h2> Certificates and Honors</h2>
        <p> - Member of the Saudi Commission for Engineers, Specialist
            - Professional license for teachers as a practicing teacher
            - Publisher of the scientific paper (The Role of Plicy in Project Management Stages)
            - Honored among ten research papers participating in the Scientific Research Week for Innovation at the University of Jeddah 2021 . </p>
    </section>

    <section class="Tests">
        <h2> Tests </h2>
        <ul>
            <li>Teachers’general 64 , specialization 55 </li>
            <li>General Aptitude Test for University Graduates 72 </li>
            <li>Cognitive Ability Test 75-STEP 56 </li>
            <li>ILETS 4.5</li>
            <li>EMC Academic Associate, Data Science and Big Data Analytics %80</li> 
        </ul>
    </section>

    <section class="Recommendations">
        <h2> Recommendations </h2>
        <ul>
            <li>System analysis & design , department computer sciences grade v.good </li>
            <li>Computer graphics , department computer sciences grade v.good </li>
            <li>Graduation Project , department computer sciences grade Excellent </li>
            <li>Enterprise Project Management , department Information Technology grade Excellent </li>
            <li>E-Commerce , department Information Technology grade Excellent </li> 
        </ul>
    </section>
    
    <section class="contact">
        <h2>Contact Information</h2>
        <p>  Email: emyksa@hotmail.com 📧</p>
        <p>  Phone: 0509844483 📱</p>
        <p>  Website: soon 🌐</p>
        <p>LinkedIn: www.linkedin.com/in/eman-rajhi-9101571b7  </p>
    </section>
    
    <footer>
        <p>&copy; 2025 EMAN HASSAN RAJHI. All Rights Reserved.</p>
    </footer>
</body>
</html>
