<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
        
    <title>My First HTML Page</title>
</head>
<body>
    <h1><strong>Welcome to HTML!</strong></h1>

    <p style="color: red;">This is your first web page using HTML. </p>
    <p>HTML is the structure of a web page and gives the Internet 
        <b>HTML :</b> a description of how it will display its contents. Technologies such as cascading
      style sheets (CSS) and scripting languages ​​​​such as Java can help...</p>

    <h2 style="color: green"><em>Elements in HTML</em></h2>

    <p>It is the basic building block for building HTML documents, through which we can add images and
       interactive objects such as forms or video and audio files. You can also create organized documents 
       by using tags to declare paragraphs, headings, links, quotations, tables, etc.</p>


    <h3 style="color:blue">example how to use the link and img in HTML</h3>
    
    <p><a href="https://www.w3schools.com" target="_blank">Leran about add link in HTML</a></p>
    
  
    <img src="/static/images/html.png" alt="local img " width="200" height="100"/>

    <h4>list examle</h4>
    <ol>
        <li>step one</li>
        <li>step two</li>
        <li>step three</li>
    </ol>
    
    <ul>
        <li>First item</li>
        <li>Second item</li>
       </ul>
       <dl>
        <dt>First term</dt>
        <dd>First description</dd>
        <dt>Second term</dt>
        <dd>Second descriptio</dd>
        <dt>Second term</dt>
        <dd>Second description</dd>
    </dl>
    
    <h5>table</h5>
    <table border="1">
        <tr>
            <th>name</th>
            <th>age</th>
            <th>city</th>
        </tr>
        </table>

    <h6>form</h6>
    <form action="/submit_form" method="post">
            First name:<br>
            <input type="text" name="firstname" value="eman"><br>
            Last name:<br>
            <input type="text" name="lastname" value="hassan"><br><br>
            <input type="submit" value="Submit">
    </form>
           
</body>
</html>
