
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project of CSS</title>
    <link rel="stylesheet" href="/static/css/styleproject.css"> <!-- link file CSS -->
</head>

<header>
    <h1>Welcome to My web page</h1>
</header>

<section class="about-me">
    <div class="profile">
        <img src="/static/images/eman.png" alt="My Profile Picture">
        <h2>EMAN HASSAN RAJHI</h2>
        <p>Master Information Technology | Web Developer | Lecture | Scientific researcher</p>
    </div>
    <div class="bio">
        <h3>About Me</h3>
        <p>Hello, I am Iman, currently in the Tuwaiq Programming Camp (a website developer using the Python language. 
            I have academic and professional experience. A passionate web developer and scientific researcher. 
            I have academic experience in networks, computer science, network technology, and cybersecurity,skill in HTML,
            CSS,and JavaScript. I love creating creative, responsive websites that improve the user experience.</p>
       
            <div class="contact-container">
                <span>Contact me :</span>
            <button class="contact-btn">emyksa@hotmail.com</button>
            </div>
    </div>
</section>

</body>
</html>