<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorit Hoppy</title>
</head>
<body>

    <h1>My favorit hoppy</h1>

    <h2>my list hoppy</h2>
    <ul>
        <li>runing</li>
        <li>reading</li>
        <li>cooking</li>
        
    </ul>

    <h3>running</h3>
    <img src="/static/images/run.png" alt="Running">
    <p>Running is my favorite hobby because it makes me feel energetic and energized. 
        I enjoy running outdoors, when the weather is nice and in the rain</p>
    <a href="https://www.runnersworld.com" target="_blank">Know more about running</a>

    <h3>reading</h3>
    <img src="/static/images/reading.png" alt="Reading">
    <p>Reading is my second favorite hobby, as I enjoy reading books in various fields.</p>
    <a href="https://www.goodreads.com" target="_blank">Know more about reading</a>

    <h3>Cooking</h3>
    <img src="/static/images/cooking.png" alt="Cooking">
    <p>Cooking is something I like to do in my spare time. I enjoy preparing different dishes and trying new recipes.</p>
        <a href="https://www.allrecipes.com" target="_blank">know more about cooking</a>

   

</body>
</html>
