{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cv.css' %}">
    <title>CV</title>
</head>
<body>
    <main class="main">
        <section class="about">
                <h1>Hi,I'm Raed Mulla</h1>
                <p>Highly motivated IT graduate who is passionate about learning new technologies. Looking for a job to gain hands-on experience and contribute to a team environment. Proficient in HTML, CSS, Python.</p>
                <a href="https://www.linkedin.com/in/raed-mulla-5893992b3/">Linkedin</a>
        </section>


        <section class="education">
            <h2>Education</h2>
            <p>Universtiy of Jeddah <br> bachelor of information technology</p>

        </section>

        <section class ="projects">
            <h2>Project</h2>
            <p>Web development project <br> University graduation project <br> using HTML,CSS,PHP,MYSQL </p>
            
        </section>

        <section class="skills">
            <h2>Technical Skills</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>MYSQL</li>
                <li>PHP</li>
                <li>Java</li>
                <li>Python</li>
            </ul>
        </section>
        
        <section class="Certifications">
            <h2>Certifications</h2>
            <p>Database Mangement Essential <br> University of colorado</p>
            <p>introduction to user experience Design <br> Georgia Institute of technology</p>
        </section>

        <section class="lang">
            <h2>Language</h2>
            <h3>English</h3>
            <p>Mid</p>
            <h3>Arabic</h3>
            <p>Native</p>
        </section>
    </main>
</body>
</html>